.faq-section {
  background-color: #f9f9f9;
  border-radius: 12px;
}

.faq-icon-image {
  top: 75px;
  right: 70px;
  opacity: 0.1;
  z-index: 999;
  max-width: 120px;
  height: auto;
}

.faq-icon {
  transition: all 0.2s ease-in-out;
  font-weight: bold;
  user-select: none;
  line-height: 1;
}

.faq-item:hover .faq-icon {
  color: #0d6efd;
}

@media only screen and (max-width: 768px) {
  .faq-icon-image {
    position: relative;
    width: 50px;
    height: 50px;
    top: 25px;
    right: 35px;
    
    opacity: 0.1;
  }
}